<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebPartExtend" type="UFSoft.UBF.UI.Custom.ExtendedPartSection, UFSoft.UBF.UI.FormProcess" />
  </configSections>

  <WebPartExtend>

    <ExtendedPart
    parentPartFullName="UFIDA.U9.CBO.Pub.Department.DepartmentUIModel.DepartmentMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDongHui.UIPluginwf.Dept_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHDongHui.UIPluginwf.dll">
    </ExtendedPart>

    <ExtendedPart
    parentPartFullName="UFIDA.U9.CBO.Pub.Department.DepartmentListUIModel.DepartmentListUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDongHui.UIPluginwf.DeptList_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHDongHui.UIPluginwf.dll">
    </ExtendedPart>

    <ExtendedPart
    parentPartFullName="UFIDA.U9.CBO.Pub.Operator.OperatorUIModel.OperatorMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDongHui.UIPluginwf.Operator_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHDongHui.UIPluginwf.dll">
    </ExtendedPart>

    <ExtendedPart
    parentPartFullName="UFIDA.U9.CBO.Pub.Operator.OperatorBListUIModel.OperatorBListUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDongHui.UIPluginwf.OperatorList_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHDongHui.UIPluginwf.dll">
    </ExtendedPart>

    <ExtendedPart
    parentPartFullName="UFIDA.U9.CBO.HR.EmployInfoUIModel.EmployInfoUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDongHui.UIPluginwf.PersonInfo_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHDongHui.UIPluginwf.dll">
    </ExtendedPart>

    <!--<ExtendedPart
    parentPartFullName="UFIDA.U9.CBO.HR.PersonInfoUI.PersonInfoMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDongHui.UIPluginwf.PersonInfo_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHDongHui.UIPluginwf.dll">
    </ExtendedPart>-->

    <ExtendedPart
    parentPartFullName="UFIDA.U9.CS.Unify.UnifyTaskUI.UnifyTaskBListUI.UnifyTaskBListUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDongHui.UIPluginwf.UnifyTaskBList_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHDongHui.UIPluginwf.dll">
    </ExtendedPart>


  </WebPartExtend>


</configuration>



